.contact-logo{
    background-image: url('../assets/contact.svg');
    background-position:right;
    border-radius: 50%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.videoBackground{
    background-image: url('../assets/spend.webp');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}